HOST=http://localhost
PORT=3333
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/ichgram
JWT_SECRET=
JWT_EXPIRES_IN=1h

# MAIL
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_IS_SECURE=0
MAIL_APP_LOGIN=
MAIL_APP_PASS=

EMAIL_FROM=
EMAIL_ADMIN=